@model IEnumerable<FitnessMVC.Models.Protein>

@{
    ViewData["Title"] = "Proteins";
}

<h1 class="text-white">Proteins</h1>

<p class="text-white">
    <a asp-action="AddProtein">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-white">
                Name
            </th>
            <th class ="text-white">
                Description
            </th>
            <th class="text-white">
                Price
            </th>
            <th class ="text-white">
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="text-white">
                    <img src="../images/@Html.DisplayFor(modelItem => item.Image)" style="width:100px; height:100px;" />
                </td>
                <td class="text-white">
                    <a asp-action="Edit" asp-route-id="@item.ProteinId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProteinId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProteinId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
